/* used to sign the footer in the bottom */
#signature{
    font-family: 'Mrs Saint Delafield', cursive;
}

body {
    background-image: url("assets/brick.jpg");
    background-color: #cccccc;
   }

   /* used to help shape the footer */
   .pa{
       margin-bottom: 3px;
   }

/* places a top margin of 30px on the jumbotron container  */
   #jtron {
       margin-top: 30px;
   }
/* gives a google font to my name in the header */
   #special{
    font-family: 'Italiana', serif;
    color: white;
   }

